<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="providers" name="Job Providers" schema="schema/providers.exsd"/>
   <extension
         id="workerengine"
         name="Gyrex Job Worker Engine"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="1"
            thread="any"
            visible="false">
         <run
               class="org.eclipse.gyrex.jobs.internal.worker.WorkerEngineApplication">
         </run>
      </application>
   </extension>

</plugin>
