<?xml version="1.0" encoding="UTF-8"?>
<scr:component xmlns:scr="http://www.osgi.org/xmlns/scr/v1.1.0" name="org.eclipse.gyrex.logback.config.appenders.component">
   <implementation class="org.eclipse.gyrex.logback.config.internal.CommonLogbackAppenders"/>
   <property name="service.vendor" type="String" value="Eclipse Gyrex"/>
   <property name="service.description" type="String" value="Common Logback Appenders"/>   <service>
      <provide interface="org.eclipse.gyrex.logback.config.spi.AppenderProvider"/>
   </service>
</scr:component>
