<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
    Copyright (c) 2008 Gunnar Wagenknecht and others.
    All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v1.0 which accompanies this distribution,
    and is available at http://www.eclipse.org/legal/epl-v10.html.

    Contributors:
        Gunnar Wagenknecht - initial API and implementation
 -->
<plugin>
   <extension
         point="org.eclipse.gyrex.boot.serverroles">
      <role
            defaultStart="inDevelopmentMode"
            id="org.eclipse.gyrex.boot.role.admin.gwt"
            name="Gyrex Admin Console">
         <requireBundle
               symbolicName="org.eclipse.equinox.http.registry">
         </requireBundle>
         <requireBundle
               symbolicName="org.eclipse.gyrex.admin">
         </requireBundle>
         <requireBundle
               symbolicName="org.eclipse.gyrex.admin.web.gwt">
         </requireBundle>
      </role>
      <role
            defaultStart="inDevelopmentMode"
            id="org.eclipse.gyrex.boot.role.http.jetty"
            name="Gyrex Jetty-based HTTP Engine">
         <requireBundle
               symbolicName="org.eclipse.gyrex.http.jetty">
         </requireBundle>
      </role>
      <role
            defaultStart="inDevelopmentMode"
            id="org.eclipse.gyrex.boot.role.http.registry"
            name="Gyrex HTTP Registry">
         <requireBundle
               symbolicName="org.eclipse.equinox.http.registry">
         </requireBundle>
         <requireBundle
               symbolicName="org.eclipse.gyrex.http.registry">
         </requireBundle>
      </role>
   </extension>

</plugin>
