<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.gyrex.persistence.storage.registry.IRepositoryDefinition"
            class="org.eclipse.gyrex.persistence.solr.internal.SolrRepositoryAdapterFactory">
         <adapter
               type="org.eclipse.gyrex.persistence.solr.config.ISolrRepositoryConfigurer">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.gyrex.server.roles">
      <role
            id="org.eclipse.gyrex.persistence.solr.roles.embedded.server"
            name="Gyrex Embedded Solr Server">
         <requireApplication
               applicationId="org.eclipse.gyrex.persistence.solr.roles.embedded.server">
         </requireApplication>
      </role>
      <defaultStart
            mode="development"
            roleId="org.eclipse.gyrex.persistence.solr.roles.embedded.server"
            trigger="onBoot">
      </defaultStart>
   </extension>
   <extension
         id="org.eclipse.gyrex.persistence.solr.roles.embedded.server"
         name="Gyrex Embedded Solr Server"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="1"
            thread="any"
            visible="false">
         <run
               class="org.eclipse.gyrex.persistence.solr.internal.EmbeddedSolrServerApplication">
         </run>
      </application>
   </extension>

</plugin>
