<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.gyrex.server.roles">
      <role
            id="org.eclipse.gyrex.cloud.roles.coordinator"
            name="Gyrex Cloud Coordinator">
         <requireBundle
               symbolicName="org.eclipse.gyrex.cloud">
         </requireBundle>
         <requireApplication
               applicationId="org.eclipse.gyrex.cloud.zookeeper.gate.application">
         </requireApplication>
      </role>
      <role
            id="org.eclipse.gyrex.cloud.roles.leader"
            name="Gyrex Cloud Leader">
         <requireBundle
               symbolicName="org.eclipse.gyrex.cloud">
         </requireBundle>
         <requireApplication
               applicationId="org.eclipse.gyrex.cloud.zookeeper.server.application">
         </requireApplication>
      </role>
   </extension>
   <extension
         id="org.eclipse.gyrex.cloud.zookeeper.server.application"
         name="ZooKeeper Server"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="1"
            thread="any"
            visible="false">
         <run
               class="org.eclipse.gyrex.cloud.internal.zk.ZooKeeperServerApplication">
         </run>
      </application>
   </extension>
   <extension
         id="org.eclipse.gyrex.cloud.zookeeper.gate.application"
         name="ZooKeeper Gate Manager"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="1"
            thread="any"
            visible="false">
         <run
               class="org.eclipse.gyrex.cloud.internal.zk.ZooKeeperGateApplication">
         </run>
      </application>
   </extension>

</plugin>
